<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FlaskBB - A Lightweight Forum Software in Python.">
    <meta name="author" content="FlaskBB Team">

    <title>FlaskBB — {% block title %}A Lightweight Forum System in Python{% endblock %}</title>

    <!-- some fancy open graph shit -->
    <meta property="og:title" content="FlaskBB - A Lightweight Forum System in Python" />
    <meta property="og:type" content="website" />

    <!-- Favicon -->
    <link href="{{'/static/favicon.ico'|asseturl }}" rel="icon">
    <!-- compiled and minified CSS -->
    <link rel="stylesheet" href="{{'/static/styles.css'|asseturl }}">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{{ '/'|url }}">FlaskBB</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% for href, title in [
                        ['/about', 'about']]
                    %}
                    <li{% if this.is_child_of(href) %} class="active"{% endif %}>
                        <a href="{{ href|url }}">{{ title }}</a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="https://forums.flaskbb.org">community</a>
                    </li>
                    <li>
                        <a href="https://flaskbb.readthedocs.io">docs</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

    {% block body %}{% endblock %}

    {% block footer %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p class="copyright text-muted small pull-left">
                        &copy; 2013 - 2016 <a href="https://flaskbb.org">FlaskBB Team</a>
                    </p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p class="made-in text-muted small" style="text-align: center">
                        <i style="color: white" class="fa fa-fw fa-code"></i> with
                        <i style="color: red" class="fa fa-fw fa-heart"></i> on Earth
                    </p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p class="powered-by text-muted small pull-right">
                        powered by <a href="https://flaskbb.org">FlaskBB</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
    {% block javascripts %}
    <script src="{{'/static/app.js'|asseturl }}" async defer charset="utf-8" type=text/javascript ></script>
    <script src="https://buttons.github.io/buttons.js" async defer id="github-bjs"></script>
    {% endblock %}
</body>
