<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="FlaskBB - A Lightweight Forum Software in Python.">
    <meta name="author" content="FlaskBB Team">

    {% set title = this.title ~ ' - A Lightweight Forum Software in Python' if this.title == 'FlaskBB' else this.title ~ ' - FlaskBB' %}
    <title>{{ title }}</title>

    <!-- open graph -->
    <meta property="og:title" content="FlaskBB — A Lightweight Forum System in Python" />
    <meta property="og:type" content="website" />

    <!-- Favicon -->
    <link href="{{'/static/favicon.ico'|asseturl }}" rel="icon">
    <!-- compiled and minified CSS -->
    <link rel="stylesheet" href="{{'/static/main.css'|asseturl }}">
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light border-bottom flaskbb-navbar" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ '/'|url }}">FlaskBB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topnav-collapse" aria-controls="topnav-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topnav-collapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if this._path == '/' %}active{% endif %}" href="{{ '/'|url }}">Home</a>
                    </li>
                    {% for href, title in [
                        ['/about', 'About']]
                    %}
                    <li class="nav-item">
                        <a class="nav-link {% if this.is_child_of(href) or active_about_nav %}active{% endif %}" href="{{ href|url }}">{{ title }}</a>
                    </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link" href="https://forums.flaskbb.org">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://flaskbb.readthedocs.io">Documentation</a>
                    </li>
                </ul>
            </div>
        </div><!-- /.container -->
    </nav>
</header>

<main role="main" class="flex-shrink-0">
    {% block body %}{% endblock %}
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-4">
                <p class="copyright text-muted small text-start mt-auto mb-auto">
                    &copy; 2013 - <script type="text/javascript">document.write(new Date().getFullYear());</script> <a href="https://flaskbb.org">FlaskBB Team</a>
                </p>
            </div>
            <div class="col-4">
                <p class="made-in text-muted small text-center mt-auto mb-auto">
                    <i style="color: white" class="fas fa-fw fa-code"></i> with
                    <i style="color: red" class="fas fa-fw fa-heart"></i> on Earth
                </p>
            </div>
            <div class="col-4">
                <p class="powered-by text-muted small text-end mt-auto mb-auto">
                    powered by <a href="https://flaskbb.org">FlaskBB</a>
                </p>
            </div>
        </div>
    </div>
</footer>
    {% block javascripts %}
    <script src="{{'/static/main.js'|asseturl }}" async defer charset="utf-8" type=text/javascript ></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    {% endblock %}
</body>
